@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.mainContainer {
    display: flex;
}

/***************************** left Section*******************************/

.left {
    position: relative;
    width: 40vw;
}

.logo {
    width: 120px;
    position: absolute;
    top: 80px;
    left: 100px;
}

.leftImg  {
    width: 100%
}

/***************************** Right Section*******************************/

.right {
    width: 60vw;
}

    /************************* Right Nav Section**************************/
.navbar {
    padding: 80px 100px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar > .line {
    height: 1.6px;
    flex-grow: 1;
    background-color: #000000;
    border-radius: 5px;
}

.navbar > a {
    color: #797878;
    font-weight: 500;
    font-size: 16px;
}

.line + a {
    color: #000000;
}

    /************************* Right Hero Section**************************/

h1 > p {
    font-family: 'Merriweather', serif;
}

h1 > span {
    font-family: 'Merriweather', serif;
}

.dance {
    width: 500px;
}

.dance > img {
    width: 100px;
    height: 150px;
    position: relative;
}

